#chat-window {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 800px;
  height: 500px;
  background-color: lightgray;
}

#chat-form {
  position: absolute;
  padding: 10px;
}

#output {
  padding: 5px;
  overflow-y: scroll;
}

#sidebar {
  padding: 10px;
  background-color: slategray;
  overflow-y: scroll;
}

#feedback {
  height: 30px;
}